services:

  ###### APPLICATION SERVICES ######
  ## docker-compose up db dice-service order-service frontend --build -d

  db: # PostgreSQL demo app database
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - 5432:5432

  dice-service:
    build: src/DiceService
    ports:
      - 4010:8080
    environment:
      - OTEL_ENDPOINT=http://debugger:8080
      #- OTEL_ENDPOINT=http://aspire:18889
      #- OTEL_ENDPOINT=http://otel-collector:4317

  catalog-service:
    build: src/CatalogService
    ports:
      - 4009:8080

  order-service:
    build: src/OrderService
    ports:
      - 4006:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - OTEL_DOTNET_AUTO_INSTRUMENTATION_ENABLED=false
      #- OTEL_DOTNET_AUTO_INSTRUMENTATION_ENABLED=true
      #- OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      #- OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      #- OTEL_SERVICE_NAME=OrderService
      #- OTEL_DOTNET_AUTO_TRACES_ADDITIONAL_SOURCES=OtelDemo.*

  frontend:
    build: src/Frontend
    ports:
      - 4000:8080
    environment:
      - OTEL_GRPC_ENDPOINT=http://debugger:8080
      #- OTEL_GRPC_ENDPOINT=http://aspire:18889
      #- OTEL_HTTP_ENDPOINT=http://prometheus:9090/api/v1/otlp
      #- OTEL_GRPC_ENDPOINT=http://otel-collector:4317
    depends_on: 
      - db
      - dice-service
      - order-service
      #- catalog-service

  ###### TELEMETRY BACKENDS & TOOLS ######
  ## docker compose up aspire debugger prometheus jaeger zipkin seq loki grafana -d

  aspire:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:9.3
    ports:
      - 18888:18888
      #- 4317:18889
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true

  debugger:
    build: src/Debugger
    ports:
      - 4017:8080

  prometheus: # Prometheus metrics
    image: prom/prometheus:v3.7.3
    command: 
      --config.file=/etc/prometheus/prometheus.yml 
      --storage.tsdb.path=/prometheus 
      --web.console.libraries=/usr/share/prometheus/console_libraries 
      --web.console.templates=/usr/share/prometheus/consoles 
      --web.enable-otlp-receiver
    volumes:
      - ./src/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 4003:9090

  jaeger: # Jaeger tracing
    image: jaegertracing/all-in-one:latest
    ports:
      - 4004:16686

  zipkin: # Zipkin tracing
    image: openzipkin/zipkin:latest
    ports:
      - 4005:9411

  seq: # SEQ logging
    image: datalust/seq:2025.2
    environment:
      ACCEPT_EULA: Y
      SEQ_FIRSTRUN_NOAUTHENTICATION: true
    ports:
      - 4002:80

  loki: # loki logging
    image: grafana/loki:3.5
    ports:
      - 4007:3100

  grafana: # loki logging
    image: grafana/grafana:12.4.0-19263646129
    ports:
      - 4008:3000

  ## OpenTelemetry Collector

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.139.0
    # env_file:
    #   - ./src/otel-collector/.azure-config.env.local
    volumes:
      - ./src/otel-collector/otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension

