@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}
@inject MessageGenerator messageGenerator;
@inject WeatherApiClient weatherClient;
@inject DiceClient diceClient;
@inject DemoDbContext dbContext;

@inject ILogger<IndexModel> Logger
@{
    Logger.LogInformation("Overview page visited");
}

<h1>@await messageGenerator.GenerateMessageAsync()</h1>
<p>Random number from nodejs-dice service: @await diceClient.RollTheDice()</p>
<p>Weather: @await weatherClient.GetForecastAsync()</p>
<h2>Customers</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in dbContext.People)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Age</td>
            </tr>
        }
    </tbody>
</table>
